<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         testdox="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="No service-related tests">
            <directory>tests</directory>
            <exclude>tests/Storage/MemcacheTokenStorageTest.php</exclude>
            <exclude>tests/Storage/RedisTokenStorageTest.php</exclude>
        </testsuite>

        <testsuite name="Service-related tests">
            <file>tests/Storage/MemcacheTokenStorageTest.php</file>
            <file>tests/Storage/RedisTokenStorageTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <env name="REDIS_HOST" value="127.0.0.1"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="MEMCACHED_HOST" value="127.0.0.1"/>
        <env name="MEMCACHED_PORT" value="11211"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Exception</directory>
        </exclude>
    </source>
</phpunit>
